* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;
 
  --gray-100:#0D0E11;
  --gray-200:#16181D;
  --gray-300:#292C34;
  --gray-400:#878EA1;
  --gray-500:#C0C4CE;
  --gray-600:#E2E4E9;

  /* --font-family-inconsolata: "Inconsolata", monospace; */
  --font-family-asap: "Asap", sans-serif;;
  --font-family-maven: "Maven Pro", sans-serif;
  --subtitle: 800 20px/120% "Inconsolata", monospace;

  --text-asap-lg: 800 56px/120% var(--font-family-asap);
  --text-asap-md: 800 24px/120% var(--font-family-asap);
  --text-asap-sm: 800 16px/120% var(--font-family-asap);

  --text-maven-md: 400 16px/140% var(--font-family-maven);
  --text-maven-sm: 400 14px/140% var(--font-family-maven); 
}

body {
  font: var(--text-asap-sm);
  color: var(--gray-600);
  background: var(--gray-300);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font: inherit;
}

img {
  max-width: 100%;
}